:root {
  --header-color: #195905;

  --theme-btn-hover: rgba(25, 89, 5, 0.3);

  /* #195905 */
  --header-icon-filter: invert(24%) sepia(20%) saturate(3197%) hue-rotate(70deg)
    brightness(99%) contrast(96%);

  --container-color: rgba(255, 250, 248, 0.4);
}

.darkmode {
  --header-color: #d1a827;

  --theme-btn-hover: rgba(25, 89, 5, 0.3);

  /* #D1A827 */
  --header-icon-filter: invert(84%) sepia(51%) saturate(1486%)
    hue-rotate(343deg) brightness(89%) contrast(82%);
}

* {
  margin: 0;
  padding: 0;
  transition: 80ms ease;
}

header {
  display: flex;
  align-items: center;
  height: 10%;
  width: 90vw;
  padding: 0 2rem;
}

header > *:not(:first-child) {
  margin-left: 1vw;
}

.page-name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;

  color: var(--header-color);
}

/* notif icon & theme btn */
.header-icons {
  display: flex;
  align-items: center;
  gap: 1.2vw;

  position: fixed;
  right: 2vw;
}

.notif-btn,
.theme-btn {
  display: flex;
  border-radius: 10px;

  cursor: pointer;
}

.notif-btn:hover,
.notif-btn.active,
.theme-btn:hover {
  background-color: var(--theme-btn-hover);

  transition: 80ms ease;
}

/* notif */
.notif-btn {
  position: relative;

  padding: 0.4rem;
}

.notif-btn img {
  width: 2rem;
  height: 2rem;
  filter: var(--header-icon-filter);

  transition: none;

  z-index: 2;
}

.notif-dropdown {
  position: absolute;

  top: 0;
  right: 3.8rem;

  width: 16rem;
  height: 13rem;

  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--container-color);

  backdrop-filter: blur(10px);

  display: none;
  flex-direction: column;

  padding: 10px;

  cursor: default;
  overflow-y: hidden;
}

.notif-dropdown-container {
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  height: 80%;
}

.notif-dropdown-header {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 1rem;
  color: var(--header-color);

  padding-bottom: 10px;

  flex-shrink: 0;
}

.notif {
  font-size: 0.8rem;
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  color: var(--header-color);
}

/* theme */
.theme-btn {
  padding: 0.5rem;
}

.theme-btn img {
  width: 1.8rem;
  height: 1.8rem;
}

.theme-btn .theme-icon:first-child {
  display: none;
}

.darkmode .theme-btn .theme-icon:last-child {
  display: none;
}

.darkmode .theme-btn .theme-icon:first-child {
  display: block;
}
