:root {
  --header-color: #195905;

  --theme-btn-hover: rgba(25, 89, 5, 0.3);

  /* #195905 */
  --header-icon-filter: invert(24%) sepia(20%) saturate(3197%) hue-rotate(70deg)
    brightness(99%) contrast(96%);
}

.darkmode {
  --header-color: #d1a827;

  --theme-btn-hover: rgba(25, 89, 5, 0.3);

  /* #D1A827 */
  --header-icon-filter: invert(84%) sepia(51%) saturate(1486%)
    hue-rotate(343deg) brightness(89%) contrast(82%);
}

* {
  margin: 0;
  padding: 0;
  transition: 80ms ease;
}

header {
  display: flex;
  align-items: center;
  height: 10%;
  width: 90vw;
  padding: 0 2rem;
}

header > *:not(:first-child) {
  margin-left: 1vw;
}

.page-name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;

  color: var(--header-color);
}

/* notif icon & theme btn */
.header-icons {
  display: flex;
  align-items: center;
  gap: 1.2vw;

  position: fixed;
  right: 2vw;
}

.notif-btn,
.theme-btn {
  display: flex;
  border-radius: 20%;

  cursor: pointer;
}

.notif-btn:hover,
.theme-btn:hover {
  background-color: var(--theme-btn-hover);
}

/* notif */
.notif-btn {
  padding: 0.3rem;
}

.notif-btn img {
  width: 2rem;
  height: 2rem;
  filter: var(--header-icon-filter);
}

/* theme */
.theme-btn {
  padding: 0.5rem;
}

.theme-btn img {
  width: 1.8rem;
  height: 1.8rem;
}

.theme-btn .theme-icon:first-child {
  display: none;
}

.darkmode .theme-btn .theme-icon:last-child {
  display: none;
}

.darkmode .theme-btn .theme-icon:first-child {
  display: block;
}
