/* fonts */
@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Nunito";
  src: url(fonts/Nunito/Nunito-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Nunito";
  src: url(fonts/Nunito/Nunito-Bold.ttf) format("truetype");
  font-weight: bold;
}

/* base/light mode variables*/
:root {
  --base-color: #195905;
  --base-variant: #0c3200;

  --text-color: #0c3200;
  --secondary-text: #195905;

  --primary-color: #fffaf8;
  --accent-color: #fffaf8;

  --glassContainer-color: rgba(171, 171, 171, 0.43);
  --input-container: rgba(171, 171, 171, 0.43);
  --input-placeholder: #0c3200;

  --submitBtn-bg: #195905;

  --fiter-color: rgba(25, 89, 5, 0.4);
  --bg-url: url("images/light-mode-bg.svg");

  --theme-icon-url: url("images/light-mode-icon.svg");

  --title-font-size: 1.3rem;
  --primary-font-size: 0.7rem;
  --secondary-font-size: 0.8rem;
}

/* darkmode variables */
.darkmode {
  --base-color: #e5c300;
  --base-variant: #d9d9d9;

  --text-color: #fffaf8;
  --secondary-text: #195905;

  --primary-color: #fffaf8;
  --accent-color: #fffaf8;

  --glassContainer-color: rgba(217, 217, 217, 0.03);
  --input-container: rgba(171, 171, 171, 0.23);
  --input-placeholder: #fffaf8;

  --submitBtn-bg: #0f1c22;

  --fiter-color: none;
  --bg-url: url("images/dark-mode-bg.svg");

  --theme-icon-url: url("images/dark-mode-icon.svg");
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-image: var(--bg-url);
  background-size: cover;
  background-position: center;
  font-family: "Nunito", sans-serif;
}

.bg-filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--fiter-color);
  opacity: 0.6;
  z-index: 1;
}

header,
main,
footer {
  position: relative;
  z-index: 2;
}

/* cvsu logo header */
header {
  text-align: center;
  justify-content: center;
}

.cvsu-logo img {
  margin-top: 2vh;
  width: 7%;
}

.cvsu-logo #title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 0%;
  color: var(--base-color);
  font-size: var(--title-font-size);
}

.cvsu-logo #sub-title {
  font-family: "Nunito", sans-serif;
  margin-top: -1.2%;
  color: var(--base-variant);
  font-size: var(--primary-font-size);
}

/* theme switch */
.theme-btn {
  position: fixed;
  top: 3vh;
  right: 2vw;
  height: 8vh;
  width: 8vh;
  max-width: 71px;
  max-height: 71px;
  min-width: 45px;
  min-height: 45px;

  border-radius: 20%;
  border: 1px solid #fffaf8;
  background: var(--glassContainer-color);
  backdrop-filter: blur(21.5px);
}

.theme-btn:hover {
  transform: scale(1.04);
}

.theme-btn .themeIcon:first-child {
  display: none;
}

.darkmode .theme-btn .themeIcon:last-child {
  display: none;
}

.darkmode .theme-btn .themeIcon:first-child {
  display: block;
}

.theme-btn img {
  margin: 10%;
  height: 80%;
  width: 80%;
}

/* login container */
.container {
  justify-content: center;
  text-align: center;
}

.login-container {
  justify-content: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 35%;
  width: 30%;

  border-radius: 30px;
  border: 1px solid #fffaf8;
  background: var(--glassContainer-color);
  backdrop-filter: blur(21.5px);
  padding: 3% 0.5% 5% 0.5%;
}

.login-container h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: var(--title-font-size);
  color: var(--text-color);
  margin-bottom: 7%;
}

.login-container input {
  width: 65%;
  border-radius: 40px;
  border: 1px solid #fffaf8;
  background: var(--input-container);
  backdrop-filter: blur(21.5px);
  padding: 2%;
  padding-left: 5%;
  margin-bottom: 3%;
  color: var(--text-color);
}

.login-container input::placeholder {
  font-family: "Nunito", sans-serif;
  font-size: var(--primary-font-size);
  color: var(--input-placeholder);
  opacity: 0.7;
}

.submitBtn {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: var(--secondary-font-size);
  width: 70%;
  border-radius: 30px;
  padding: 1.8%;
  border: none;
  background-color: var(--submitBtn-bg);
  color: white;
  margin-top: 5%;
  transition: 0.5s ease;
  border: 1px solid white;
}

.submitBtn:hover {
  transform: scale(1.05);
}

.passReset {
  font-size: var(--primary-font-size);
  border: none;
  background: none;
  float: right;
  margin-top: 3%;
  margin-right: 15%;
  word-spacing: 2.5px;
  color: var(--text-color);
  transition: 0.5s ease;
}

.passReset:hover {
  transform: scale(1.05);
}

.container #tennets {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: var(--secondary-font-size);
  color: var(--base-variant);
  word-spacing: 10px;
  margin-top: 2%;
}

/* Reset Container */
.resetContainer {
  justify-content: center;
  margin: auto;
  margin-top: 1%;
  width: 35%;
  background-color: rgb(255, 255, 255);
  background: var(--glassContainer-color);
  backdrop-filter: blur(10px);
  border: 1px white solid;
  border-radius: 25px;
  padding-top: 3%;
  padding-bottom: 3.5%;
  margin-bottom: 10.9%;
}

#resetDiv {
  display: none;
}

.resetContainer h1 {
  font-size: var(--title-font-size);
  color: var(--text-color);
  font-family: "Poppins";
}

.resetContainer p {
  justify-content: left;
  text-align: left;
  margin-left: 13%;
  margin-right: 12%;
  margin-top: 8%;
  color: var(--text-color);
}

footer {
  padding-top: 0.7%;
  width: 100%;
}

.footerContainer p {
  text-align: center;
  font-size: var(--primary-font-size);
  color: var(--text-color);
}
