/* base/light mode variables*/
:root {
  --bg-color: rgba(206, 206, 206, 1);

  --filter-color: rgba(206, 206, 206, 0.5);

  --text-color: rgba(12, 50, 0, 1);
  --secondary-text: rgba(25, 89, 5, 0.5);
  --title-color: rgba(25, 89, 5, 1);
  --sidebar-text-color: rgba(211, 252, 202, 1);
  --glassContainer-color: rgba(217, 217, 217, 0.43);
  --input-placeholder: rgba(12, 50, 0, 1);
  --submitBtn-bg: rgb(25, 89, 5);

  --theme-icon-url: url("images/light-mode-icon.svg");
  --lightmode-icon-display: none;
  --darkmode-icon-display: block;

  --bg-img: url("images/bg-lightmode.svg");
}

/* darkmode variables */
.darkmode {
  --bg-color: rgba(15, 28, 34, 1);

  --filter-color: rgba(15, 28, 34, 0.4);

  --text-color: rgb(255, 255, 255);
  --secondary-text: rgba(209, 168, 39, 0.6);
  --title-color: rgba(209, 168, 39, 1);
  --sidebar-text-color: rgba(255, 250, 248, 1);
  --glassContainer-color: rgba(61, 61, 61, 0.43);
  --input-placeholder: white;
  --submitBtn-bg: rgb(0, 0, 0);

  --theme-icon-url: url("images/dark-mode-icon.svg");
  --lightmode-icon-display: none;
  --darkmode-icon-display: none;
  --bg-img: url("images/bg-darkmode.svg");
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;

  overflow: hidden;

  background-image: var(--bg-img);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;

  font-family: "Nunito", sans-serif;
}

.bg-filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--filter-color);

  z-index: 1;
}

.page-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.calendar-header svg {
  width: 4%;
  margin-left: 40%;
}

.regform-body svg {
  width: 3.5%;
  margin-left: 4%;
}

/* DASHBOARD CONTAINER */
.main-container {
  font-family: "Poppins";
  margin: 2rem 2rem 1rem 2rem;
  height: 80vh;
  width: auto;
}

header,
main,
footer {
  position: relative;
  z-index: 2;
}

.flex-container {
  display: flex;
}

#dashboard-1 {
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  padding-top: 1%;
}

#dashboard-profile {
  border: 1px solid #fffaf8;
  background: var(--glassContainer-color);
  backdrop-filter: blur(21.5px);
  padding: 4% 3.5% 4%;
  width: 100%;
  border-radius: 20px;
}

#dashboard-profile img {
  width: 20%;
}

#profile-info {
  margin: 0;
  color: var(--text-color);
  margin-left: 4%;
}

#profile-info h3 {
  margin: 0;
  font-size: 1.4rem;
  margin-top: 1%;
}

#profile-info p {
  font-size: 1.1rem;
  margin: 0;
}

#profile-info p:last-child {
  font-size: 1rem;
  margin: 0;
  margin-top: 10%;
}

#dashboard-stats {
  border: 1px solid #fffaf8;
  background: var(--glassContainer-color);
  backdrop-filter: blur(21.5px);
  padding: 2.8% 3.5% 2.8%;
  width: 100%;
  border-radius: 20px;
  margin-top: 2%;
}

.stats-sy p {
  color: var(--title-color);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.stats-sy {
  display: block;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.scroll-container {
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  margin-left: -60%;

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.stats-sy-item {
  padding: 1%;
  margin-bottom: 0;
  width: 200px;
}

.stats-sy-item:first-child {
  margin-top: 10%;
}

.stats-sy-item:last-child {
  margin-bottom: 10%;
}

.stats-charts {
  margin-left: -20%;
  margin-right: 10%;
  text-align: center;
  display: flex;
}

.circle {
  margin: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.circle h3 {
  font-size: 1rem;
}

#gpa {
  border: 8px solid rgba(25, 89, 5, 1);
  margin-left: 6%;
}

.stats-charts h4 {
  margin: 0;
  margin-left: -2%;
  font-size: 0.7rem;
}

#gpa-container {
  width: 200px;
}

#gpa-number {
  margin: 0;
  font-size: 0.8rem;
  width: 150px;
  margin-left: -10%;
  margin-top: 8%;
  color: var(--text-color);
}

#units-number {
  width: 200px;
  margin: 0;
  margin-left: -27%;
  margin-top: 4%;
  font-size: 0.8rem;
  color: var(--text-color);
}

#units {
  border: 8px solid rgb(225, 191, 1);
  margin-left: -2%;
}

#units-container {
  margin-left: 30%;
}

#dashboard-showcase {
  border: 1px solid #fffaf8;
  background: var(--glassContainer-color);
  backdrop-filter: blur(21.5px);
  padding: 4% 3.5% 4.5%;
  width: 100%;
  border-radius: 20px;
  margin-top: 2%;
  color: var(--text-color);
}

#dashboard-showcase h3 {
  margin: 0;
}

#showcase-items {
  margin-left: 0%;
}

#showcase-items img {
  width: 40%;
}

.showcase-sites {
  text-align: left;
  margin-left: 2%;
}

.showcase-description {
  font-size: 0.75rem;
}

.showcase-title {
  margin: 0;
  font-size: 1.1rem;
  margin-top: 3%;
  margin-bottom: -1%;
}

#showcase-kabsume {
  margin-top: -1%;
}

#showcase-kabserve img {
  width: 20%;
  border-radius: 13px;
  border: 1px solid white;
}

#showcase-kabserve p:first-child {
  margin-top: 1%;
}

.dashboard-2 {
  height: 100%;
  padding-top: 1%;
  width: 25%;
  margin-left: 7%;
}

.dashboard-calendar {
  border: 1px solid #fffaf8;
  background: var(--glassContainer-color);
  backdrop-filter: blur(21.5px);
  border-radius: 19px;
  padding: 17px;
  width: 100%;
  height: 176px;
  max-height: 176px;
  color: var(--text-color);
}

.dashboard-calendar hr {
  border: none;
  height: 1.5px;
  background-color: var(--text-color);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  font-size: 0.8rem;
}

.month-year {
  font-size: 1rem;
  padding-bottom: 0;
}

.calendar-controls {
  background: var(--secondary-text);
  border: 1px solid var(--text-color);
  border-radius: 20px;
  padding: 4px 8px;
  display: flex;
  gap: 6px;
}

.nav-btn {
  background: none;
  color: var(--text-color);
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 3px 7px;
  cursor: pointer;
  border-radius: 6px;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.calendar-grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.day-names,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  text-align: center;
  font-size: 0.8rem;
}

.day-names div {
  color: var(--title-color);
}

.days div {
  transition: 0.3s;
  font-size: 0.6rem;
}

.days div.today {
  background-color: var(--title-color);
  width: 100%;
  color: white;
  font-weight: bold;
  border-radius: 70%;
  padding: 0;
}

.days div.range {
  background-color: rgba(77, 113, 72, 0.4);
  border-radius: 8px;
}

.dashboard-reminders {
  border: 1px solid #fffaf8;
  background: var(--glassContainer-color);
  backdrop-filter: blur(21.5px);
  padding: 4%;
  padding-right: 7%;
  width: 100%;
  border-radius: 20px;
  margin-top: 4.6%;
  color: var(--text-color);
}

#today-date {
  margin-top: 2%;
}

.dashboard-reminders hr {
  border: none;
  height: 1.5px;
  background-color: var(--text-color);
}

.dashboard-reminders p {
  margin: 0;
  font-size: 0.7rem;
  margin-left: 3%;
}

.reminders-event {
  font-weight: bold;
}

.reminders {
  border-radius: 10px;
  background-color: rgba(209, 168, 39, 0.4);
  margin-bottom: 2%;
  padding: 1.3%;
}

#reminder-latest {
  background-color: rgba(25, 89, 5, 0.4);
}

.dashboard-regform {
  border: 1px solid #fffaf8;
  background: var(--glassContainer-color);
  backdrop-filter: blur(21.5px);
  padding: 4%;
  padding-bottom: 4.5%;
  padding-right: 7%;
  width: 100%;
  border-radius: 20px;
  margin-top: 4.6%;
  color: var(--text-color);
}

.regform-header p {
  margin: 0;
}

.dashboard-regform hr {
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin-top: 0;
}

.regform-body p {
  margin: 0;
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 3%;
}

.regform-body p:last-child {
  font-size: 0.7rem;
  font-weight: normal;
}

#regform-popup-container {
  display: none;
}

.regform-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(100, 100, 100, 0.3);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: flex;
}

#popup {
  border: 1px solid #fffaf814;
  background: var(--glassContainer-color);
  backdrop-filter: blur(21.5px);
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 60%;
  width: 55%;
  font-family: "Poppins";
}

.darkmode #popup {
  background: rgba(6, 13, 16, 0.6);
}

#popup img {
  width: 85%;
}

#popup h1 {
  margin: 0;
  margin-top: 3%;
  font-size: 1.7rem;
  color: var(--text-color);
  margin-bottom: 5%;
}

#popup div:nth-child(2) {
  margin-left: -4%;
}

.darkmode #popup h1 {
  color: var(--title-color);
}

#popup p {
  margin: 0;
  font-size: 1.4rem;
  color: var(--title-color);
}

.darkmode #popup p {
  color: var(--text-color);
}

.regform-download-btn {
  background-color: rgba(25, 89, 5, 0.4);
  color: var(--text-color);
  font-size: 1.5rem;
  width: 55%;
  padding: 3.5%;
  border: 1px solid var(--title-color);
  border-radius: 15px;
  margin-top: 45%;
  margin-bottom: 4%;
}

.darkmode .regform-download-btn {
  background-color: rgba(209, 168, 39, 0.4);
}

.regform-download-btn svg {
  fill: var(--text-color);
  width: 8%;
  margin-left: 10%;
}

#popup p:last-child {
  font-size: 0.9rem;
}

button {
  transition: 0.1s ease;
}

button:hover {
  transform: scale(1.05);
}

#reg-preview {
  cursor: pointer;
}
